<html>

<head>
    <title>หน้าแรก</title>
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="./bootstrap-4.4.1-dist/css/bootstrap.css">
    <!-- load fontawesome -->
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body style="font-family:  'Kanit', sans-serif;">

    <nav class="navbar navbar-expand-lg navbar-light bg-pink">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MENU
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <span class="navbar-text" style="margin-right: 10px;">
            <strong>ชื่อ</strong> : <%= user.local.name %>
          </span>
        <button class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='/login'" type="button">Logout</button>
      </form>
    </div>
  </nav>

<!--------------------------------------------------------------- Main choice  ---------------->

<%var statigy_list = ["ยุทธศาสตร์ที่ 1 : การเพิ่มขีดความสามารถในการแข่งขันของประเทศปานกลาง (Growth & Competitiveness)","ยุทธศาสตร์ที่ 2 : การลดความเหลื่อมล้ำ (Inclusive Growth)","ยุทธศาสตร์ที่ 3 : การเติบโตที่เป็นมิตรต่อสิ่งแวดล้อม (Green Growth)","ยุทธศาสตร์ที่ 4 : การสร้างความสมดุลและปรับระบบบริหารจัดการภาครัฐ (Internal Process)"] %>
<% var st2_list = ["ยุทธศาสตร์ที่ 1 : การพัฒนาคุณภาพผู้เรียนในระดับการศึกษาขั้นพื้นฐาน","ยุทธศาสตร์ที่ 2 : การเพิ่มโอกาสให้ผู้เรียนเข้าถึงบริการการศึกษาขั้นพื้นฐาน","ยุทธศาสตร์ที่ 3 : การพัฒนาคุณภาพครูและบุคลากรทางการศึกษา","ยุทธศาสตร์ที่ 4 : การพัฒนาระบบการบริหารจัดการ"] %>
<% var st3_list = ["มาตรฐานที่ 1 : คุณภาพของผู้เรียน","มาตรฐานที่ 2 : กระบวนการบริหารและการจัดการ","มาตรฐานที่ 3 : กระบวนการจัดการเรียนการสอนที่เน้นผู้เรียนเป็นสำคัญ"] %>
<% var st4_list = ["กลยุทธ์ที่ 1 : พัฒนาผู้เรียนให้เป็นพลโลกแห่งศตวรรษที่ 21","กลยุทธ์ที่ 2 : พัฒนาศักยภาพและจรรยาบรรณวิชาชีพคร","กลยุทธ์ที่ 3 : ส่งเสริมและพัฒนาหลักสูตรสถานศึกษาตามกลุ่มศักยภาพผู้เรียน","กลยุทธ์ที่ 4 : พัฒนาศักยภาพระบบการกำกับและสะท้อนผลมาตรฐานคุณภาพการบริหารจัดการ","กลยุทธ์ที่ 5 : ส่งเสริมพัฒนาภาคีเครือข่ายความร่วมมือการพัฒนากิจกรรมการเรียนรู้ตามศาสตร์พระราชา"] %>

<center><img src="image/title-01.jpg" width="1000" height="150"></center>
  <div class="container" style="width: 1000px;margin-top: 50px; margin-bottom: 50px; border: 1px solid #a8a6a6;font-size: 17px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    
    <p class="text-center" style="font-size: 20px;margin-top: 50px;"> รายละเอียดโครงการ/กิจกรรม ปีงบประมาณ 2564 </p>
    <p class="text-center" style="font-size: 20px;">โรงเรียนสตรีสิริเกศ</p>
    <p class="text-center" style="font-size: 20px;">(<%=projectInfo.Budget_type %>)</p>
    <p class="text-center" style="font-size: 20px;">………………………………………………………………</p>
    
    <% if(projectInfo.Budget_type == "งานพัฒนาตามกลยุทธ์"){ %>
    <p class="text-left" style="font-size: 18px;font-weight: bolder;margin-top: 50px;">ความสอดคล้อง</p>
    <div class="row" ">
      <div class="col"><p class="text-center" style="font-size: 16x;"><%= "ยุทธศาสตร์ประเทศ ยุทธศาสตร์ที่ "+((strategy_index_list[0]*1)+1) %></p></div>
      <div class="col"><p class="text-center" style="font-size: 16x;"><%= "ยุทธศาสตร์ สพฐ.ยุทธศาสตร์ที่ "+((strategy_index_list[1]*1)+1) %></p></div>
    </div>
   
    <div class="row" style="margin-top: 10px;">
      <div class="col"><p class="text-center" style="font-size: 16x;"><%= "มาตรฐานการศึกษาโรงเรียน มาตรฐานที่	 "+((strategy_index_list[2]*1)+1) %></p></div>
      <div class="col"><p class="text-center" style="font-size: 16x;"><%= "ตัวบ่งชี้ที่ "+((strategy_index_list[3]*1)+1) +" ตัวชี้วัดที่ "+((strategy_index_list[4]*1)+1) %></p></div>
    </div>

    <div class="row" style="margin-top: 10px;">
      <div class="col"><p class="text-center" style="font-size: 16x;"><%= "กลยุทธ์ของโรงเรียน  กลยุทธ์ที่	 "+((strategy_index_list[5]*1)+1) %></p></div>
      <div class="col"><p class="text-center" style="font-size: 16x;"><%= "โครงการหลักที่ "+((strategy_index_list[6]*1)+1) +" กิจกรรมหลักที่ "+((strategy_index_list[7]*1)+1) %></p></div>
    </div>

    <% }%>

    
    <p class="text-left" style="font-size: 18px;margin-top: 50px;"><%= "1. ลักษณะของโครงการ : " +projectInfo.data.property_project %></p>
    <p class="text-left" style="font-size: 18px;"><%= "2. โครงการ / กิจกรรม : " +projectInfo.name_project %></p>

    <table class="table table-bordered" style="margin-top: 50px;">
      <thead>
        <tr style="vertical-align: middle;" >
          <th scope="col"">สาระสำคัญ </th>
          <th scope="col">ตัวชี้วัดความสำเร็จ/เป้าหมาย</th>
          <th scope="col">เงื่อนไขความสำเร็จ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"><p style="font-weight: bold;">จุดมุ่งหมาย (Goal)</p><%= projectInfo.data_detail.goal.body %></td>
          <td style="font-weight: lighter;"><%= projectInfo.data_detail.goal.Success_Indicators %></td>
          <td><%= projectInfo.data_detail.goal.Success_conditions %></td>
        </tr>

        <tr>
          <td scope="row"><p style="font-weight: bold;">วัตถุประสงค์(Purpose)</p><%= projectInfo.data_detail.purpose.body %></td>
          <td><%= projectInfo.data_detail.purpose.Success_Indicators %></td>
          <td><%= projectInfo.data_detail.purpose.Success_conditions %></td>
        </tr>

        <tr>
          <td scope="row"><p style="font-weight: bold;">ผลผลิต/ผลงาน (Output)</p><%= projectInfo.data_detail.output.body %></td>
          <td><%= projectInfo.data_detail.output.Success_Indicators %></td>
          <td><%= projectInfo.data_detail.output.Success_conditions %></td>
        </tr>

        <tr>
          <td scope="row"><p style="font-weight: bold;">กิจกรรม (Activities)</p><%= projectInfo.data_detail.activities.body %></td>
          <td><%= projectInfo.data_detail.activities.Success_Indicators %></td>
          <td><%= projectInfo.data_detail.activities.Success_conditions %></td>
        </tr>

        <tr>
          <td scope="row"><p style="font-weight: bold;">ปัจจัย (Input)</p><%= projectInfo.data_detail.input.body %></td>
          <td><%= projectInfo.data_detail.input.Success_Indicators %></td>
          <td><%= projectInfo.data_detail.input.Success_conditions %></td>
        </tr>
     
      </tbody>
    </table>

    <p class="text-left" style="font-size: 18px;font-weight: bold;margin-top: 50px;">หลักฐานแหล่งพิสูจน์</p>
    <p class="text-break"  style="font-size: 18px;margin-left: 60px;"><%= projectInfo.data_detail_2.Proof_of_evidence.Assessment_method %></p>
    <p class="text-left" style="font-size: 18px;font-weight: bold;margin-top: 30px;">วิธีการประเมิน</p>
    <p class="text-left" style="font-size: 18px;font-weight: bold;margin-top: 30px;">เครื่องมือ</p>
    <p class="text-break"  style="font-size: 18px;margin-left: 60px;"><%= projectInfo.data_detail_2.Proof_of_evidence.tools %></p>
    <p class="text-left" style="font-size: 18px;font-weight: bold;margin-top: 30px;">งบประมาณ (ระบุที่มางบประมาณ เช่น เงินอุดหนุน)</p>
    <p class="text-break"  style="font-size: 18px;margin-left: 60px;"><%= "เงินอุดหนุนรายหัว : "+projectInfo.data_detail_2.Proof_of_evidence.Budget[0]+" บาท" %></p>
    <p class="text-break"  style="font-size: 18px;margin-left: 60px;"><%= "เงินรายได้สถาณศึกษา : "+projectInfo.data_detail_2.Proof_of_evidence.Budget[1]+" บาท" %></p>
    <p class="text-break"  style="font-size: 18px;margin-left: 60px;"><%= "เงินงบประมาณ : "+projectInfo.data_detail_2.Proof_of_evidence.Budget[2]+" บาท" %></p>
    <p class="text-break"  style="font-size: 18px;margin-left: 60px;"><%= "เงินกิจกรรมพัฒนาผู้เรียน : "+projectInfo.data_detail_2.Proof_of_evidence.Budget[3]+" บาท" %></p>
    <p class="text-break"  style="font-size: 18px;margin-left: 60px;"><%= "เงินอื่นๆ : "+projectInfo.data_detail_2.Proof_of_evidence.Budget[4]+" บาท" %></p>
   
    <p class="text-left" style="font-size: 18px;font-weight: bold;margin-top: 30px;">ระยะเวลาดำเนินการ</p>
    <p class="text-left" style="font-size: 18px;font-weight: bold;margin-left: 30px"><%= "วันที่เริ่มต้น : " + projectInfo.data_detail_2.Proof_of_evidence.Processing_time.Start %></p>
    <p class="text-left" style="font-size: 18px;font-weight: bold;margin-left: 30px"><%= "วันที่สิ้นสุด : " + projectInfo.data_detail_2.Proof_of_evidence.Processing_time.End %></p>

    <p class="text-left" style="font-size: 18px;font-weight: bold;margin-top: 30px;">ผู้รับผิดชอบ</p>
    <p class="text-break"  style="font-size: 18px;margin-left: 60px;"><%= projectInfo.data_detail_2.Proof_of_evidence.Responsible_person %></p>



    <hr style="height:2px;border-width:0;color:gray;background-color:gray;margin-top: 30px;">

    <div class="row"style="margin-top: 50px;">
      <div class="col">
        <div class="d-flex justify-content-center">
        <p class="text-break">ลงชื่อ ..............................................ผู้เสนอโครงการ</p>
     </div>
     <div class="d-flex justify-content-center">
      <p class="text-break">(ผู้รับผิดชอบโครงการ)</p>
   </div>
     </div>
          <div class="col">
        <div class="d-flex justify-content-center">
        <p class="text-break">ลงชื่อ ..............................................ผู้เสนอโครงการ</p>
     </div>
     <div class="d-flex justify-content-center">
      <p class="text-break">(หัวหน้ากลุ่ม/งาน/กลุ่มสาระฯ)</p>
   </div>
     </div>
     </div>


     <div class="row" style="margin-top: 40px;">
      <div class="col">
        <div class="d-flex justify-content-center">
        <p class="text-break">ลงชื่อ ..............................................ผู้เห็นชอบโครงการ</p>
     </div>
     <div class="d-flex justify-content-center">
      <p class="text-break">(รองผู้อำนวยการตามสายงาน)</p>
   </div>
     </div>
          <div class="col">
        <div class="d-flex justify-content-center">
        <p class="text-break">ลงชื่อ ..............................................ผู้เห็นชอบโครงการ</p>
     </div>
     <div class="d-flex justify-content-center">
      <p class="text-break">(รอง ผอ.กลุ่มงบประมาณและแผนฯ)</p>
   </div>
     </div>
     </div>

     <div class="d-flex justify-content-center" style="margin-top: 70px;">
      <p class="text-break">ลงชื่อ ..............................................ผู้อนุมัติโครงการ</p>
     </div>
    <div class="d-flex justify-content-center" style="margin-bottom:100px ;">
    <p class="text-break">(ผู้อำนวยการโรงเรียน)</p>
      </div>
</div>


<div class="container" style="width: 1000px;margin-top: 50px; margin-bottom: 50px; border: 1px solid #a8a6a6;font-size: 17px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <p class="text-center" style="font-size: 20px;margin-top: 50px;"> ทรัพยากรโครงการ/กิจกรรม  </p>
  <p class="text-center" style="font-size: 20px;font-weight: bold;"> <%= projectInfo.name_project %> </p>
  <p class="text-center" style="font-size: 20px;"> ปีงบประมาณ 2564 </p>


  <table class="table table-bordered" style="margin-top: 50px;">
    <thead>
      <tr style="vertical-align: middle;" >
        <th scope="col" style="text-align: center;"> ที่ </th>
        <th scope="col" style="text-align: center;">รายการ</th>
        <th scope="col" style="text-align: center;">ราคา</th>
        <th scope="col" style="width: 80px;text-align: center;">หน่วยนับ</th>
        <th scope="col" style="text-align: center;">จำนวน</th>
        <th scope="col" style="text-align: center;">รวมทั้งสิ้น</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1 </th>
        <th  style="font-weight: bold;">งบบุคลากร (ค่าจ้างชั่วคราว)</th>
        <th scope="row"></th>
        <th scope="row"></th>
        <th scope="row"> </th>
        <th scope="row"> </th>
      </tr> 
      
      
      <% for(var i = 0;i< projectInfo.Budget.person.length;i++){ %>
        <tr>
        <th > </th>
        <th  style="font-weight: lighter;"><%= projectInfo.Budget.person[i][0] %></th>
        <th style="font-weight: lighter;"> <%= projectInfo.Budget.person[i][1] %></th>
        <th style="font-weight: lighter;"> <%= projectInfo.Budget.person[i][3] %> </th>
        <th style="font-weight: lighter"><%= projectInfo.Budget.person[i][2] %></th>
        <th style="font-weight: lighter;"> <%= (projectInfo.Budget.person[i][1]*1)*(projectInfo.Budget.person[i][2]*1) %> </th>      
      </tr>
        <% }%>
        <tr>
          <th scope="row">2 </th>
          <th  style="font-weight: bold;">งบดำเนินงาน</th>
          <th scope="row"></th>
          <th scope="row"></th>
          <th scope="row"> </th>
          <th scope="row"> </th>
        </tr> 
        <tr>
          <th scope="row"> </th>
          <th  style="font-weight: bold;">- ค่าตอบแทน </th>
          <th scope="row"></th>
          <th scope="row"></th>
          <th scope="row"> </th>
          <th scope="row"> </th>
        </tr>
        
        <% for(var i = 0;i< projectInfo.Budget.operating_budget.Compensation.length;i++){ %>
          <tr>
          <th > </th>
          <th  style="font-weight: lighter;"><%= projectInfo.Budget.operating_budget.Compensation[i][0] %></th>
          <th style="font-weight: lighter;"> <%= projectInfo.Budget.operating_budget.Compensation[i][1] %></th>
          <th style="font-weight: lighter;"> <%= projectInfo.Budget.operating_budget.Compensation[i][3] %> </th>
          <th style="font-weight: lighter;"><%= projectInfo.Budget.operating_budget.Compensation[i][2] %></th>
          <th style="font-weight: lighter;"> <%= (projectInfo.Budget.operating_budget.Compensation[i][1]*1)*(projectInfo.Budget.operating_budget.Compensation[i][2]*1) %> </th>      
        </tr>
          <% }%>

          <tr>
            <th scope="row"> </th>
            <th  style="font-weight: bold;">- ค่าใช้สอย </th>
            <th scope="row"></th>
            <th scope="row"></th>
            <th scope="row"> </th>
            <th scope="row"> </th>
          </tr>

          <% for(var i = 0;i< projectInfo.Budget.operating_budget.Living_expenses.length;i++){ %>
            <tr>
            <th > </th>
            <th  style="font-weight: lighter;"><%= projectInfo.Budget.operating_budget.Living_expenses[i][0] %></th>
            <th style="font-weight: lighter;"> <%= projectInfo.Budget.operating_budget.Living_expenses[i][1] %></th>
            <th style="font-weight: lighter;"> <%= projectInfo.Budget.operating_budget.Living_expenses[i][3] %> </th>
            <th style="font-weight: lighter;"><%= projectInfo.Budget.operating_budget.Living_expenses[i][2] %></th>
            <th style="font-weight: lighter;"> <%= (projectInfo.Budget.operating_budget.Living_expenses[i][1]*1)*(projectInfo.Budget.operating_budget.Living_expenses[i][2]*1) %> </th>      
          </tr>
            <% }%>
            <tr>
              <th scope="row"> </th>
              <th  style="font-weight: bold;">- ค่าวัสดุ </th>
              <th scope="row"></th>
              <th scope="row"></th>
              <th scope="row"> </th>
              <th scope="row"> </th>
            </tr>

            <% for(var i = 0;i< projectInfo.Budget.operating_budget.Material_cost.length;i++){ %>
              <tr>
              <th > </th>
              <th  style="font-weight: lighter;"><%= projectInfo.Budget.operating_budget.Material_cost[i][0] %></th>
              <th style="font-weight: lighter;"> <%= projectInfo.Budget.operating_budget.Material_cost[i][1] %></th>
              <th style="font-weight: lighter;"> <%= projectInfo.Budget.operating_budget.Material_cost[i][3] %> </th>
              <th style="font-weight: lighter;"><%= projectInfo.Budget.operating_budget.Material_cost[i][2] %></th>
              <th style="font-weight: lighter;"> <%= (projectInfo.Budget.operating_budget.Material_cost[i][1]*1)*(projectInfo.Budget.operating_budget.Material_cost[i][2]*1) %> </th>      
            </tr>
              <% }%>

              <tr>
                <th scope="row"> </th>
                <th  style="font-weight: bold;">- ค่าสาธารณู </th>
                <th scope="row"></th>
                <th scope="row"></th>
                <th scope="row"> </th>
                <th scope="row"> </th>
              </tr>
              <% for(var i = 0;i< projectInfo.Budget.operating_budget.Public_utility_cost.length;i++){ %>
                <tr>
                <th > </th>
                <th  style="font-weight: lighter;"><%= projectInfo.Budget.operating_budget.Public_utility_cost[i][0] %></th>
                <th style="font-weight: lighter;"> <%= projectInfo.Budget.operating_budget.Public_utility_cost[i][1] %></th>
                <th style="font-weight: lighter;"> <%= projectInfo.Budget.operating_budget.Public_utility_cost[i][3] %> </th>
                <th style="font-weight: lighter;"><%= projectInfo.Budget.operating_budget.Public_utility_cost[i][2] %></th>
                <th style="font-weight: lighter;"> <%= (projectInfo.Budget.operating_budget.Public_utility_cost[i][1]*1)*(projectInfo.Budget.operating_budget.Public_utility_cost[i][2]*1) %> </th>      
              </tr>
                <% }%>
                <tr>
                  <th scope="row">3</th>
                  <th  style="font-weight: bold;">งบลงทุน</th>
                  <th scope="row"></th>
                  <th scope="row"></th>
                  <th scope="row"> </th>
                  <th scope="row"> </th>
                </tr> 
                <tr>
                  <th scope="row"> </th>
                  <th  style="font-weight: bold;">- ครุภัณฑ์ </th>
                  <th scope="row"></th>
                  <th scope="row"></th>
                  <th scope="row"> </th>
                  <th scope="row"> </th>
                </tr>
                <% for(var i = 0;i< projectInfo.Budget.investment_budget.durable_articles.length;i++){ %>
                  <tr>
                  <th > </th>
                  <th  style="font-weight: lighter;"><%= projectInfo.Budget.investment_budget.durable_articles[i][0] %></th>
                  <th style="font-weight: lighter;"> <%= projectInfo.Budget.investment_budget.durable_articles[i][1] %></th>
                  <th style="font-weight: lighter;"> <%= projectInfo.Budget.investment_budget.durable_articles[i][3] %> </th>
                  <th style="font-weight: lighter;"><%= projectInfo.Budget.investment_budget.durable_articles[i][2] %></th>
                  <th style="font-weight: lighter;"> <%= (projectInfo.Budget.investment_budget.durable_articles[i][1]*1)*(projectInfo.Budget.investment_budget.durable_articles[i][2]*1) %> </th>      
                </tr>
                  <% }%>
                  <tr>
                    <th scope="row"> </th>
                    <th  style="font-weight: bold;">- สิ่งก่อสร้าง </th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"> </th>
                    <th scope="row"> </th>
                  </tr>
                  <% for(var i = 0;i< projectInfo.Budget.investment_budget.Structure_cost.length;i++){ %>
                    <tr>
                    <th > </th>
                    <th  style="font-weight: lighter;"><%= projectInfo.Budget.investment_budget.Structure_cost[i][0] %></th>
                    <th style="font-weight: lighter;"> <%= projectInfo.Budget.investment_budget.Structure_cost[i][1] %></th>
                    <th style="font-weight: lighter;"> <%= projectInfo.Budget.investment_budget.Structure_cost[i][3] %> </th>
                    <th style="font-weight: lighter;"><%= projectInfo.Budget.investment_budget.Structure_cost[i][2] %></th>
                    <th style="font-weight: lighter;"> <%= (projectInfo.Budget.investment_budget.Structure_cost[i][1]*1)*(projectInfo.Budget.investment_budget.Structure_cost[i][2]*1) %> </th>      
                  </tr>
                    <% }%>
     
    </tbody>

  </table>


<div style="margin-bottom:100px ;"></div>

</div>


     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>

</html>