<html>

<head>
    <title>กรอกข้อมูล 1</title>
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="./bootstrap-4.4.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet"> 
</head>

<body style="font-family: 'Kanit', sans-serif;" onload="myFunction()">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MENU
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile">หน้าแรก</a>
       
          </div>
        </li>
      
      </ul>
    <form>
        <span class="navbar-text" style="margin-right: 10px;">
            <strong>ชื่อ</strong> : <%= user.local.name %>
          </span>
        <button class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='/login'" type="button">Logout</button>
      </form>
    </div>
  </nav>


  <center><img src="image/title-01.jpg" width="1000" height="150"></center>
  <div class="container" style="width: 1000px;margin-top: 50px;border:1px solid rgb(167, 167, 167);border-radius: 3px;  ">
  <p class="text-left" style="font-size: 24px;margin-top: 50px;"><i class="fa fa-bars"> เสนอโครงการ (1/4) </i></p>
  <hr style="border: 1px solid rgb(77, 73, 73);" >
  <div class="container">           
    
    <form action="/SFM002" method="post">
      <input type="hidden" name="project_ID" value="<%= project_ID %>">
      <input type="hidden" name="budget_type" value="<%= budget_type %>">

        <div style="margin-left: 250px; margin-top: 100px;" class="form-inline" >
            <label style="font-size: 18px;">รายละเอียดโครงการ/กิจกรรม ปีงบประมาณ </label>
            <input style="width: 100px;margin-left: 5px;" id="year_project" name="year_project" type="text" class="form-control"  aria-label="Username"  aria-describedby="basic-addon1">
        </div> 
        <p style="text-align: center;font-size: 18px;">โรงเรียนสตรีสิริเกศ</p>
        <p style="text-align: center;font-size: 18px;"><%= "( "+ budget_type +" )" %></p>
       
        <div  class="form-inline" style="margin-top: 30px;" >
          <label style="font-size: 18px;">1.ความสอดคล้อง</label>
         </div>
        <div>
        
          <% if( budget_type == "งานพัฒนาตามกลยุทธ์" ){ %>

         <div class="input-group mb-3" style="margin-top: 20px;">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button">ยุทธศาสตร์ประเทศ </button>
          </div>
          <select class="custom-select" id="country_strategy" name="country_strategy">
            <option selected> - </option>
            <% for(var plan_index_1 = 0; plan_index_1 < plan_info.contry_statigy.length ; plan_index_1++){ %> 
              <option value="<%= plan_info.contry_statigy[plan_index_1] %>"> <%= "ที่ "+(plan_index_1+1).toString()+" "+plan_info.contry_statigy[plan_index_1] %> </option>
            <%  }%>
          </select>
          
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button">ยุทธศาสตร์ สพฐ. </button>
          </div>
          <select class="custom-select" id="spt_strategy" name="spt_strategy"">
            <option selected> - </option>
            <% for(var plan_index_2 = 0; plan_index_2 < plan_info.spt_statigy.length ; plan_index_2++){ %> 
              <option value="<%= plan_info.spt_statigy[plan_index_2] %>"> <%= "ที่ "+(plan_index_2+1).toString()+" "+plan_info.spt_statigy[plan_index_2] %> </option>
            <%  }%>
          </select>
        </div>
        </div>

        <div style="margin-top: 30px;">
          <div class="input-group mb-3" style="width: 700px;">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button">มาตรฐานการศึกษาโรงเรียน </button>
          </div>
          <select class="custom-select" id="school_standard" name="school_standard">
            <option selected> - </option>
            <% for(var plan_index_3 = 0; plan_index_3 < plan_info.shool_standard.length ; plan_index_3++){ %> 
              <option value="<%= plan_info.shool_standard[plan_index_3] %>"> <%= "ที่ "+(plan_index_3+1).toString()+" "+plan_info.shool_standard[plan_index_3] %> </option>
            <%  }%>
          </select>
        </div>

        <div class="input-group mb-3"  style="width: 800px;">
          <div class="input-group-prepend" >
            <button class="btn btn-outline-secondary" type="button">ตัวบ่งชี้</button>
          </div>
          <select class="custom-select" id="indicator" name="indicator">
            <option selected> - </option>
            <% for(var plan_index_4 = 0; plan_index_4 < plan_info.indicator.length ; plan_index_4++){ %> 
              <option value="<%= plan_info.indicator[plan_index_4] %>"> <%= "ที่ "+(plan_index_4+1).toString()+" "+plan_info.indicator[plan_index_4] %> </option>
            <%  }%>
          </select>

        <button class="btn btn-outline-secondary" style="margin-left: 20px;" type="button">ตัวชี้วัดที่</button>        
        <select class="custom-select" id="Metric" name="Metric" >
          <option selected> - </option>
          <% for(var plan_index_5 = 0; plan_index_5 < plan_info.target.length ; plan_index_5++){ %> 
            <option value="<%= plan_info.target[plan_index_5] %>"> <%= "ที่ "+(plan_index_5+1).toString()+" "+plan_info.target[plan_index_5] %> </option>
          <%  }%>
        </select>

        

        </div>

         </div>

         <div style="margin-top: 30px;">
          <div class="input-group mb-3" style="width: 800px;">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button">กลยุทธ์ของโรงเรียน </button>
          </div>
          <select class="custom-select" id="School_strategy" name="School_strategy">
            <option selected> - </option>
            <% for(var plan_index_6 = 0; plan_index_6 < plan_info.school__statigy.length ; plan_index_6++){ %> 
              <option value="<%= plan_info.school__statigy[plan_index_6] %>"> <%= "ที่ "+(plan_index_6+1).toString()+" "+plan_info.school__statigy[plan_index_6] %> </option>
            <%  }%>
          </select>
        </div>

        <div class="input-group mb-3"  style="width: 800px;">
          <div class="input-group-prepend" >
            <button class="btn btn-outline-secondary" type="button">โครงการหลักที่</button>
          </div>
          <select class="custom-select" id="Main_project" name="Main_project">
            <option selected> - </option>
            <% for(var plan_index_7 = 0; plan_index_7 < plan_info.main_project_school.length ; plan_index_7++){ %> 
              <option value="<%= plan_info.main_project_school[plan_index_7] %>"> <%= "ที่ "+(plan_index_7+1).toString()+" "+plan_info.main_project_school[plan_index_7] %> </option>
            <%  }%>
          </select>      

        </div>
        <div class="input-group mb-3"  style="width: 800px;">

          <button class="btn btn-outline-secondary" type="button">กิจกรรมหลักที่</button>        
          <select class="custom-select" id="Main_activities" name="Main_activities" >
            <option selected> - </option>
            <option selected> - </option>
            <% for(var plan_index_8 = 0; plan_index_8 < plan_info.main_activities.length ; plan_index_8++){ %> 
              <option value="<%= plan_info.main_activities[plan_index_8] %>"> <%= "ที่ "+(plan_index_8+1).toString()+" "+plan_info.main_activities[plan_index_8] %> </option>
            <%  }%>
          </select>

        <% } %>
        </div>
      
         <!----------------------------------------------------------------------------- -->
      

        <div style="margin-top: 100px;" class="form-inline" >
            <label style="font-size: 18px;">2.ลักษณะของโครงการ</label>
            <div class="form-check"  style="margin-left: 30px;">
                <input class="form-check-input" type="radio" name="property_project" id="property_project" value="เก่า" checked>
                <label class="form-check-label" for="exampleRadios1">
                 เก่า
                </label>
              </div>
              <div class="form-check"  style="margin-left: 20px;">
                <input class="form-check-input" type="radio" name="property_project" id="property_project" value="ใหม่">
                <label class="form-check-label" for="exampleRadios2">
                  ใหม่
                </label>
              </div>
              <div class="form-check"  style="margin-left: 20px;">
                <input class="form-check-input" type="radio" name="property_project" id="property_project" value="ต่อเนื่อง">
                <label class="form-check-label" for="exampleRadios3">
                  ต่อเนื่อง
                </label>
            </div> 
            <div class="form-check"  style="margin-left: 20px;">
              <input class="form-check-input" type="radio" name="property_project" id="property_project" value="งบด้านวิชาการ">
              <label class="form-check-label" for="exampleRadios4">
                งบด้านวิชาการ
              </label>
          </div>
          <div class="form-check"  style="margin-left: 20px;">
            <input class="form-check-input" type="radio" name="property_project" id="property_project" value="งบบริหารทั่วไป">
            <label class="form-check-label" for="exampleRadios5">
              งบบริหารทั่วไป
            </label>
        </div>
        </div>
       
        <div  class="form-inline" style="margin-top: 100px;" >
            <label style="font-size: 18px;">3.โครงการ/กิจกรรม</label>
            <input style="width: 500px;margin-left: 5px;" id="name_project" name="name_project" type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
        </div> 
      
  <hr style="border: 1px solid rgb(77, 73, 73);margin-top: 50px;" >

  


    
 


<div style="margin-top: 20px;"><center>
 <button type="submit" value="submited" class="btn btn-success" data-toggle="modal" data-target="#myModal">Save</button>
 <button type="button" class="btn btn-danger">Canle</button>
</div></center>
</form>
<div style="margin-top :50px"></div>


</div>




<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4  class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p>ทำการสร้างรายงานเสร็จสิ้นแล้ว กรุณากด "ตกลง" เพื่อนดำเนินการเพิ่มรายละเอียด</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">ตกลง</button>
      </div>
    </div>

  </div>
</div>


<script>
  function myFunction() {
    var d = new Date();
    var n = d.getFullYear() + 543;
    document.getElementById("year_project").value = n;
  }
  </script>



<script src="./bootstrap-4.4.1-dist/js/signature_pad.js"></script>
  <script src="./bootstrap-4.4.1-dist/js/app_signature.js"></script>
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>

</html>